<%- include('../../shared/includes/head', { pageTitle: 'Signup'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">

</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
<section class="signup-section">
    <div class="signup-image">
        <img src="/images/illustration.png" alt="email illustration">
    </div>
  <div class="signup-form">
    <h1>Sign up</h1>
<% if(inputData.hasError) { %> 
 <p> <%= inputData.message %></p>
<% } %>
    <form action="/signup" method="POST">
      <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
        <p>
        <input type="text" id="firstname" name="firstname" placeholder="First Name"  class="form-specifics" value="<%= inputData.firstname %>" required>
        </p>
        <p>
        <input type="text" id="lastname" name="lastname" placeholder="Last Name"  class="form-specifics" value="<%= inputData.lastname %>" required>
       </p>
       <p>
        <input type="email" id="email" name="email" placeholder="Email"  class="form-specifics" value="<%= inputData.email %>"required>
       </p>
       <p>
        <input type="password" id="password" name="password" placeholder="Password"  minlength="6"  class="form-specifics" value="<%= inputData.password %>" required>
       </p>
       <p>
        <input type="password" id="Confimpassword" name="Confirmpassword" placeholder="Confirm Password"  minlength="6" class="form-specifics"  value="<%= inputData.confirmedpassword %>" required>
       </p>
       <p>
        <button class="btn-signup">  Sign up</button>
       </p>
       <p id="switch-form">Already have an account?<a href="/login">  Sign in</a></p>
    </form>
  </div>

</section>
   
</main>

<%- include('../../shared/includes/footer') %>